.div1-flex{
    border: 2px solid black;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 850px;
    justify-content: space-evenly;
    /* align-items: stretch; */
    
    
    

}
.div1-flex div{
    border: 2px solid black;
    box-sizing: border-box;
    width: 150px;
    height: 100px;
    background-color: aqua;
}

.div1{
    border: 2px solid black;
    width: 70%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    height: 250px;
   
    
    

}
.div1 div{
    border: 2px solid aqua;
    box-sizing: border-box;
    width: 150px;
    height: 100px;
    background-color: aqua;
    margin: 5px;
    float: left;
    overflow: scroll;
    

}
.span-1{
    color: red;
    font-weight: bold;
    font-size: 2em;
    
}