body{
    border: 10px solid black;
}


div {
    border: 10px solid blue;
    min-height: 100px;
    width: 500px;
}
.div1{
    text-align: justify;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 50px;

}
.box-size{
    box-sizing: border-box;
}