div {
    border: 10px solid black;
    min-height: 200px;
}
.div2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
body{
    border: 10px solid aqua;
}