.form-1{
     border: solid 2px red;
     width: 40%;
     min-height: 100px;
     box-sizing: border-box;
     padding: 20px;
     margin: 20px auto;
}
.input-1{
    background-color: aqua;
    border: none;
    border-bottom-left-radius: 10px;
}
.input-1:focus{
    background-color: blue;
    outline: none;
}
.button-1{
    cursor: crosshair;
}
.button-1:hover{
    background-color: brown;

}