.div-1{
    border: 3px black solid;
    background-color: #ecf0f1;
    margin: auto;
    height: 400px;
    width: 600px;
    padding-top: 40px;
    padding-left: 180px;
    box-sizing: border-box;
}
.input-1{
    border: 3px solid #bbbbbb;
    background-color: white;
    width: 190px;
    height: 30px;
    border-radius: 9px;
}
.input-1:focus{
    outline: none;
}
.div-2{
    background-color: red;
    color: white;
    border-radius: 9px;
    width: 190px;
    height: 30px;
}