*{
   box-sizing: border-box;
}


body{
   margin: 0px;
}

header{
   border: solid 2px black; 
   height: 120px;
   background-color: aqua;
   width: 80%;
   margin: auto;
}

main{
   border: solid 2px black;
   min-height: 400px;
   background-color: gold;
   width: 80%;
   margin: auto;
  display: flex;
}
nav a{
   display: block;
   padding: 10px;
   background-color: silver;
   color: red;
}

nav a:hover{
   color: black;
   background-color: cadetblue;
}
footer{
   border: 2px solid green;
   width: 80%;
   margin: auto;
   background-color: aqua;
   height: 50px;
}
nav{
   border: solid 2px red;
   flex: 10%;
   
}
.content{
   border: solid 3px black;
   min-height: 20px;
   padding: 5px;
   flex: 90%;
}
article{
   border:solid 1px silver;
   padding: 10px;
   margin: 5px;
}
article .img{
   width: 100%;
   background-color: aquamarine;
   height: 150px;

}
@media screen and (min-width:1400px){
   header{
      background-color: blue;
      
   }
   .content{
      display: flex;
      flex-wrap: wrap;
    }
   .content article{
      width: 32%;
   }

   
}
@media screen and (max-width: 900px){
   header{
      background-color: red;
   }
   main{
      
      flex-direction: column;
   }
}